<%= form_for gallery do |form| %>

  <%= render "form_errors", object: gallery %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name, placeholder: @gallery.name%>
</div>

<div>
  <%= form.label :description %>
  <%= form.text_area :description, placeholder: @gallery.description%>
</div>

<div>
  <%= form.label :cover_image %>
  <%= form.text_field :cover_image, placeholder: @gallery.cover_image %>
</div>

<%= form.submit "update gallery" %>
<% end %>
